/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./trushield-theme.scss";

@layer base {
    h1,
    h2 {
        @apply font-freightMicro;
    }
    body {
        @apply m-0 font-freightSans;
    }
}

html,
body {
    height: 100%;
}

.main-container {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-freightMicro;
    }
    p,
    li {
        @apply text-gray-500;
    }
    a {
        @apply text-teal-600;
        &:hover {
            @apply underline;
        }
    }
    ol {
        list-style: auto;
    }
    .heading {
        @apply border-b-4 border-solid mb-[30px] border-gray-500;
        h1 {
            @apply text-gray-500;
        }
    }
    .sub-heading {
        h2 {
            @apply text-teal-600 border-[0] border-b border-solid border-gray-500 font-medium;
        }
    }
    .card {
        background-color: theme("colors.white");
        border-radius: theme("borderRadius.lg");
        padding: theme("spacing.6");
        box-shadow: theme("boxShadow.lg");
    }
    .secondary-btn {
        @apply text-white bg-teal-600 uppercase py-[7px] px-[15px] rounded;
    }
    .color-card {
        @apply font-bold lining-nums uppercase p-6;
        .color-code {
            @apply text-xl block;
        }
        .pantone .color-code {
            @apply mb-8 text-3xl leading-9;
        }
        &.dark {
            p,
            .color-code {
                @apply text-gray-500;
            }
        }
        &.light {
            p,
            .color-code {
                @apply text-white;
            }
        }
    }
    .color-palette {
        .color-item {
            @apply m-1.5 p-2 uppercase lining-nums font-bold text-center;
            p {
                @apply text-xs;
            }
            .color-box {
                @apply p-12 w-32;
            }
        }
    }
}
.mdc-button {
    text-transform: uppercase;
}
